.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.pt-dark {
    background-color: rgb(41, 55, 66);
    height: 100%;
}

ul {
    list-style: none;
    padding: 10px;
    margin: 0px;
}

div {
    padding: 10px;
}

.groc-outter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groc-croc,
.groc-doc,
.groc-list,
.groc-control,
.groc-footer {
    max-width: 350px;
    /* border: 1px solid blue; */
}

.showHide {
    margin: 5px;
}

.groc-doc {
    display: inline;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.groc-doc.column {
    flex-direction: column;
}
.groc-doc.row {
    flex-direction: row;
}

.groc-list {
    text-align: left;
} 

.groc-list input {
    float: right;
    padding: 5px;
}
input[type=checkbox] {
    transform: scale(1.5);
    margin-left: 10px;
}

.pt-collapse {
    padding: 0;
}

img.large {
    max-width: 50%;
}
img.small {
    max-width: 15%;
    text-align: left;
}
img.tiny {
    max-width: 5%;
    text-align: left;
}
img.hidden {
    display: none;
}

pre {
    text-align: left;
}

div.debug {
    word-wrap: break-word;
}

